@import "./variables/colors";
@import "./variables/layout";
@import "./variables/sizes";
@import "./variables/font";

* {
  font-family: "Open Sans", Oxygen, Ubuntu, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: $light-gray;
}
